/* 
COLORS:
    Text:
    #f7f2ef

    Accent:
    #F2620F
    #BF4C0A

    Background:
    
    #F2E3D5
    #162840
    #19222e

*/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-size-xxs: clamp(0.51rem, 0.23vw + 0.45rem, 0.64rem);
    --font-size-xs: clamp(0.64rem, 0.29vw + 0.57rem, 0.8rem);
    --font-size-sm: clamp(0.8rem, 0.36vw + 0.71rem, 1rem);
    --font-size-base: clamp(1rem, 0.45vw + 0.89rem, 1.25rem);
    --font-size-md: clamp(1.25rem, 0.57vw + 1.11rem, 1.56rem);
    --font-size-lg: clamp(1.56rem, 0.71vw + 1.38rem, 1.95rem);
    --font-size-xl: clamp(1.95rem, 0.89vw + 1.73rem, 2.44rem);
    --font-size-xxl: clamp(2.44rem, 1.11vw + 2.16rem, 3.05rem);
    --font-size-xxxl: clamp(3.05rem, 1.39vw + 2.7rem, 3.81rem);
}


* {
    margin: 0px;
    padding: 0px;

    font-family: 'Noto Sans', sans-serif;
}

body {
    background: #19222e;
}


/* MAIN CONTENT */
.main-content {
    background: #f7f2ef;
}
.cover {
    color: #F2E3D5;

    background: linear-gradient(180deg, rgba(51, 97, 156,.75) 0%, rgba(22,40,64,.75) 60%), url(https://www.theplancollection.com/Upload/Designers/161/1030/Plan1611030MainImage_5_11_2020_17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    text-align: center;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    padding: 2rem;
    padding-bottom: 3rem;

    display: grid;
}
.cover-logo {
    background: linear-gradient(30deg, rgba(191,76,10,1) 0%, rgba(242,98,15,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lilita One', cursive;
    font-size: var(--font-size-xxxl);
    margin-block: 2rem;
}
.cover-info {
    display: grid;
    justify-content: center;
}
.cover-description {
    max-width: 22rem;
    font-size: var(--font-size-md);
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.cover-info .signup {
    justify-self: center;
}


.info-card {
    background: #ffffffaa;
    border-radius: 1rem;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    display: grid;
}
.info-card-icon {
    font-size: var(--font-size-xxxl);
}
.info-card-title {
    margin-bottom: 1rem;
}

@media screen and (min-width: 800px) {

    .cover {
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        padding-block: 10rem;
    }
    .cover-logo {
        font-size: 5rem;
        text-align: end;
    }
    .cover-info {
        text-align: start;
        justify-content: start;
    }
    .cover-info .signup {
        justify-self: start;
    }


    .product-info {
        display: grid;
        justify-content: center;
        padding-block: 2rem;
    }
    .info-card {
        max-width: 75rem;
        padding: 3rem 5rem;
        margin-inline: 4rem;
        gap: 2rem;
    }

    .info-card-l {
        grid-template-columns: 5rem 4fr;
        text-align: start;
    }

    .info-card-r {
        grid-template-columns: 4fr 5rem;
        text-align: end;
    }
    .info-card-r .info-card-icon {
        grid-column: 2 / 3;
    }
    .info-card-r .info-card-description {
        grid-row: 1 / 2;
    }

    .info-card-icon {
        align-self: center;
        text-align: center;
    }
    
}
